<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Project Mango Melon</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='framework7.ios.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='framework7.ios.colors.min.css') }}"
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="{{url_for('static', filename='my-app.css')}}">
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
      </div>
    </div>

    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="center sliding">Project Mango Melon</div>
            <div class="right">
              <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
            </div>
          </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
          <div data-page="index" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">
              {% for message in get_flashed_messages() %}
        			<div class='message'>{{ message }}</div>
        		{% endfor %}
        		<br>
        		{% block body %}
        			{% if error_head and error_message  %}
        				<div class="container">
        					<h1>{{ error_head }}</h1>
        					<p>{{ error_message }}</p>
        					{% if error_link and error_link_m %}
        						<a href={{ error_link }}>{{ error_link_m }}</a>
        					{% endif %}
        				</div>
        			{% endif %}
        		{% endblock %}
              <div class="content-block-title">Side panels</div>
              <div class="content-block">
                <div class="row">
                  <div class="col-50"><a href="#" data-panel="left" class="button open-panel">Left Panel</a></div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar">
          <div class="toolbar-inner"><a href="#" class="link">Sign In</a><a href="#" class="link">Sign Up</a></div>
        </div>
      </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="{{url_for('static', filename='framework7.min.js')}}"></script>
    <!-- Path to your app js-->
    <script type="text/javascript">
    // Initialize your app
    var myApp = new Framework7();

    // Export selectors engine
    var $$ = Dom7;

    // Add view
    var mainView = myApp.addView('.view-main', {
        // Because we use fixed-through navbar we can enable dynamic navbar
        dynamicNavbar: true
    });

    // Callbacks to run specific code for specific pages, for example for About page:
    myApp.onPageInit('about', function (page) {
        // run createContentPage func after link was clicked
        $$('.create-page').on('click', function () {
            createContentPage();
        });
    });

    // Generate dynamic page
    var dynamicPageIndex = 0;
    function createContentPage() {
    	mainView.router.loadContent(
            '<!-- Top Navbar-->' +
            '<div class="navbar">' +
            '  <div class="navbar-inner">' +
            '    <div class="left"><a href="#" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>' +
            '    <div class="center sliding">Dynamic Page ' + (++dynamicPageIndex) + '</div>' +
            '  </div>' +
            '</div>' +
            '<div class="pages">' +
            '  <!-- Page, data-page contains page name-->' +
            '  <div data-page="dynamic-pages" class="page">' +
            '    <!-- Scrollable page content-->' +
            '    <div class="page-content">' +
            '      <div class="content-block">' +
            '        <div class="content-block-inner">' +
            '          <p>Here is a dynamic page created on ' + new Date() + ' !</p>' +
            '          <p>Go <a href="#" class="back">back</a> or go to <a href="services.html">Services</a>.</p>' +
            '        </div>' +
            '      </div>' +
            '    </div>' +
            '  </div>' +
            '</div>'
        );
    	return;
    }
    </script>
  </body>
</html>
